@model MrCMS.Web.Apps.SocialEvents.Models.NextXSocialEventsViewModel
@if (Model != null)
{
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <h4>@Model.Title</h4>
    }

    foreach (var socialEvent in Model.SocialEvents)
    {
    <h4><a href="/@socialEvent.LiveUrlSegment">@socialEvent.Name</a></h4>
    }
}